@page
@model IndexModel
@{
    ViewData["Title"] = "Weezer: The Sweater Song";
}

<div id="str"></div>

<div class="embed-responsive embed-responsive-16by9">

    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/LHQqqM5sr7g" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</div>